<h1>微信公众平台快速开发框架 For DotNet</h1>
<p>WXPP Quick Framework For DotNet</p>

<h3>一个使您能够快速开发微信公众平台的框架</h3>
<p class="note">快速开发框架已经升级到[<a href="https://www.nuget.org/packages/JCSoft.WX.Framework/5.1.1" target="_blank">V5</a>]版本，目前已支持.Net Core 2.0，如果您是.Net Framework版本，您可以使用[<a href="https://www.nuget.org/packages/JCSoft.WX.Framework/4.0.0">V4</a>]或以下版本!</p>
<h3>项目地址</h3>
<blockquote>
    .Net Framework版本项目地址：<a href="https://github.com/JamesYing/JCWX" target="_blank">https://github.com/JamesYing/JCWX</a><br/>
    .Net Core 版本项目地址：<a href="https://github.com/JamesYing/JCWXCore" target="_blank">https://github.com/JamesYing/JCWXCore</a>
</blockquote>
<h3>目前进度</h3>
<p>2017-11-01:目前基本完善了API接口，已经支持被动消息加解密，但是Core版本的文件上传还未完成，稍后完成后会及时更新</p>
<h3>必要条件</h3>
<blockquote>
        首先我们必须注册成为微信公众平台用户，目前账号分为订阅号和服务号，您可以<a href="http://www.cnblogs.com/inday/p/weixin-public-platform-test-account.html" target="_blank">点击这里</a>查看如何注册成为平台用户。在非认证情况下所使用的是低级接口，只有在认证后的服务号才能享受高级接口服务。
</blockquote>
<h3>如何使用</h3>
<h4>.Net Framework如何使用</h4>
<ul>
    <li>1、通过 git clone https://github.com/JamesYing/JCWX.git  命令获取完整项目进行编译</li>
    <li>2、通过 NuGet 获取，可搜索WXQucikFramework或使用控制台
        <blockquote>
                Install-Package JCSoft.WX.Framework -Version 4.0.0	                
        </blockquote>
    </li>
</ul>
<h4>.Net Core如何使用</h4>
<ul>
    <li>1、通过 git clone https://github.com/JamesYing/JCWXCore.git  命令获取完整项目进行编译</li>
    <li>2、通过 NuGet 获取，可搜索WXQucikFramework或使用控制台
        <blockquote>
                Install-Package JCSoft.WX.Framework -Version 5.1.1                  
        </blockquote>
    </li>
</ul>
<h3>联系作者</h3>
<p>
    在使用中有任何问题，都可以通过以下方式提交：</p>
    <ul>
        <li>github提交issue</li>
        <li>Email：james#taogame.com</li>
        <li>Blogs: <a href="http://inday.cnblogs.com" target="_blank">http://inday.cnblogs.com</a></li>
        <li>QQ:785418</li>
    </ul>

<h3>使用教程</h3>
<ul>
    <li>
            <a href="http://www.cnblogs.com/inday/p/weixin-dev-msg-Question.html" target="_blank">对微信公众平台开发的消息处理</a>
    </li>
    <li><a href="http://www.cnblogs.com/inday/p/weixin-public-platform.html">快速开发微信公众平台框架---简介</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/weixin-public-platform-test-account.html">建立微信公众平台测试账号</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/wx-publicform-quick-framework-webdemo.html">体验微信公众平台快速开发框架</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/weixin-publicf-platform-cnblogs.html">利用快速开发框架，快速搭建微信浏览博客园首页文章</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/wxpp-quick-framework-v-2.html">微信快速开发框架（WXPP QuickFramework）V2.0版本上线--源码已更新至github</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/weixin-public-platform-quick-framework-v-2-2.html">微信快速开发框架（七）--发送客服信息，版本更新至V2.2</a></li>
    <li><a href="http://www.cnblogs.com/inday/p/wechat-public-platform-v2-3.html">微信快速开发框架V2.3--增加语音识别及网页获取用户信息</a></li>
</ul>
