<h1>WXPPQuickFramework更新历史</h1>
<ul>
    <li>2017-10-18：新增被动消息自动加解密</li>
    <li>2017-10-1：发布支持Net Core 2.0版本</li>
    <li>2017-5-2：发布支持Net Core 1.0版本</li>
    <li>2017-5-2：创建Net Core版本</li>
    <li>2015-5-6： <br />
    1、新增了IPayApiClient接口，为了提交至微信支付api<br />
    2、为了与微信公众号接口保持一致，PayRequest都进行了修改</li>
    <li>2014-5-20： 2.3.0.0发布，增加语音识别及网页授权获取用户信息功能</li>
    <li>2014-5-7： 2.2.0.0发布，增加了发送客服消息接口</li>
    <li>2014-4-30： 2.1.0.2修正了HttpPost中无法写入属性的bug</li>
    <li>2014-4-28： 2.1.0.0版本发布，增加了对多媒体文件的支持</li>
    <li>2014-4-22： 2.0.0.1补丁发布，修正了事件消息下，无MsgId的处理</li>
    <li>2014-4-17： 微信公众平台快速开发框架2.0版本发布，覆盖高级API接口，开发更便捷</li>
    <li>2013-12-10： 微信公众平台快速开发框架1.0版本发布，仅支持普通订阅号的基本功能</li>
</ul>