################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Site/bin
/Site/node_modules
/Site/obj
/.vs
/build/wwwroot/css
